.logo-banner{
    display: inline-block;
    padding-left: 15px;
    padding-top: 5px;
    vertical-align: middle;
}

.new-task{
    padding-bottom: 10px;
    padding-top: 10px;
}

.first-title{
    display: inline-block;
    vertical-align: middle;
}

.container{
    margin: 0 auto;
    width: 40%;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 5px;
    background-color: white;
    padding-bottom: 80px;
    
    
}

.button-task{
    background-color: rgb(12, 185, 253);
    color: aliceblue;
    border-radius: 5px;
    width: 80px;
    height: 30px;
    
}

.button-section{
    background-color: aliceblue;
    color: gray;
    border-radius: 5px;
    width: 100px;
    height: 30px;

}

.editorial{
    background-color:rgb(12, 185, 253) ;
    border-radius: 15px;
    color: aliceblue;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px;
}

.q1-gol{
    background-color: rgb(192, 125, 255);
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px;
}

.recruting{
    background-color: rgb(104, 190, 104);
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px;
}

.mobile{
    background-color: rgb(240, 166, 28);
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px;
}

.website{
    background-color: palevioletred;
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px;
}

.sales{
    background-color: greenyellow;
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px;
}

.footer{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(10, 1, 1);
    width: 40%;
    background-color: white;
    padding-left:60px;
    padding-right: 60px;
    margin: auto;
    margin-top: 5px;
}

.x-red{
    color: red;
}

body{
    background-color: lightgray;
    margin: 0;
}

header{
    background-color: white;
}




.upcoming{
    padding-bottom: 10px;
    

}


.section-today{
    padding-bottom: 10px;
}

.button-style{
    background-color: white;
    padding: 10px 60px;
    width: 40%;
    margin: auto;
    margin-top: 50px;
}


.padding-list{
    padding-bottom: 10px;
    list-style: none;
}

